MONGO_URI=mongodb+srv://fitness-db-user:CS35L@fitness-tracker-db.bxselvl.mongodb.net/?appName=fitness-tracker-db
SESSION_SECRET=<random string>
EMAIL_USER=fitnesstrackingapplication@gmail.com
EMAIL_PASS=alkzglwlubvtvaxq
