MONGO_URI=mongodb+srv://USERNAME:PASSWORD@fitness-tracker-db.bxselvl.mongodb.net/?appName=fitness-tracker-db
EMAIL_USER=your_email_address
EMAIL_PASS=your_email_app_specific_password
SESSION_SECRET=your_random_secret_session_id
SPOONACULAR_API_KEY=your_key_here