MONGO_URI=your_mongodb_connection_string
EMAIL_USER=your_email_address
EMAIL_PASS=your_email_app_specific_password
SESSION_SECRET=your_random_secret_session_id
RAPIDAPI_KEY=your_rapidapi_api_key
SPOONACULAR_API_KEY=your_spoonacular_api_key